<h1>Create a Proposal</h1>

<div>
  <form #proposalForm="ngForm">
    <div class="form-group">
      <label for="customer">Customer Name</label>
      <input type="text"
              id="customer"
              placeholder="ABC Company"
              required
              name="customer"
              #customer='ngModel'
              [(ngModel)]="proposal.customer"
      >
    </div>
  </form>
</div>

<div>
  <p>Hi {{ proposal.customer }},</p>

  <p>It was a pleasure getting to meet with you and review your project requriements, I believe it is a great fit for the types of applications that I build out. Please feel free to check out some of my past projects here.</p>

  <p>To successfully build out the application, I will be utilizing {{proposal.tools}}, and a number of other tools to ensure that the project follows industry wide best practices.</p>
</div>

<div>
  
</div>