<div class="card container form-container">
  <div class='row'>

    <div class="col-md-6">
      <h1 style="color:#013072;">Create a Proposal</h1>

      <div>
        <form #proposalForm="ngForm">
          <div class="form-group">
            <label for="customer">Client Name</label>
            <input type="text"
                    class="form-control"
                    id="customer"
                    placeholder="ABC Company"
                    required
                    name="customer"
                    #customer='ngModel'
                    [(ngModel)]="proposal.customer"
            >
            <div [hidden]="customer.valid || customer.pristine"
                  class='alert alert-danger'
            >
              <strong>Gurl.</strong> Are you writing this to nobody?
            </div>
          </div>

          <div class="form-group">
            <label for="portfolio_url">Portfolio URL</label>
            <input type="text"
                    class="form-control"
                    id="portfolio_url"
                    required
                    name="portfolio_url"
                    #portfolio_url='ngModel'
                    [(ngModel)]="proposal.portfolio_url"
            >
            <div [hidden]="portfolio_url.valid || portfolio_url.pristine"
                  class='alert alert-danger'
            >
              Show off yo' work
            </div>
          </div>

          <div class="form-group">
            <label for="tools">Social Media Outlets</label>
            <input type="text"
                    class="form-control"
                    id="tools"
                    placeholder="Facebook, Instagram, etc."
                    required
                    name="tools"
                    #tools='ngModel'
                    [(ngModel)]="proposal.tools"
            >
            <div [hidden]="tools.valid || tools.pristine"
                  class='alert alert-danger'
            >
              Let's get social
            </div>
          </div>

          <div class="form-group">
            <label for="estimated_hours">Hours per Month</label>
            <input type="number"
                    class="form-control"
                    id="estimated_hours"
                    required
                    name="estimated_hours"
                    #estimated_hours='ngModel'
                    [(ngModel)]="proposal.estimated_hours"
            >
            <div [hidden]="estimated_hours.valid || estimated_hours.pristine"
                  class='alert alert-danger'
            >
              How many slave hours?
            </div>
          </div>

          <div class="form-group">
            <label for="hourly_rate">Hourly Rate</label>
            <div class="input-group">
              <span class="input-group-addon">$</span>
              <input type="number"
                      class="form-control"
                      id="hourly_rate"
                      required
                      name="hourly_rate"
                      #hourly_rate='ngModel'
                      [(ngModel)]="proposal.hourly_rate"
              >
              </div>
            <div [hidden]="hourly_rate.valid || hourly_rate.pristine"
                  class='alert alert-danger'
            >
              How much we gettin'?
            </div>
          </div>

<!--           <div class="form-group">
            <label for="weeks_to_complete">Contract Total</label>
            <input type="number"
                    class="form-control"
                    id="weeks_to_complete"
                    required
                    name="weeks_to_complete"
                    #weeks_to_complete='ngModel'
                    [(ngModel)]="proposal.weeks_to_complete"
            >
            <div [hidden]="weeks_to_complete.valid || weeks_to_complete.pristine"
                  class='alert alert-danger'
            >
              Lock 'em down
            </div>
          </div> -->
          <div class="form-group">
            <label for="manager_name">Your Name</label>
            <input type="string"
                    class="form-control"
                    id="manager_name"
                    required
                    name="manager_name"
                    #manager_name='ngModel'
                    [(ngModel)]="proposal.manager_name"
            >
            <div [hidden]="manager_name.valid || manager_name.pristine"
                  class='alert alert-danger'
            >
              John Hancock required
            </div>
          </div>

          <div class="form-group">
            <label for="manager_email">Your Email</label>
            <input type="string"
                    class="form-control"
                    id="manager_email"
                    required
                    name="manager_email"
                    #manager_email='ngModel'
                    [(ngModel)]="proposal.manager_email"
            >
            <div [hidden]="manager_email.valid || manager_email.pristine"
                  class='alert alert-danger'
            >
              Let 'em know
            </div>
          </div>

          <!-- <div class="form-group">
            <label for="client_email">Client Email <em>(Optional)</em></label>
            <input type="email"
                    class="form-control"
                    id="client_email"
                    name="client_email"
                    #client_email='ngModel'
                    [(ngModel)]="proposal.client_email"
            >
          </div> -->

        </form>
      </div>
    </div>

    <div class="col-md-6">
      <div>
        <p>Hi {{ proposal.customer }},</p>

        <p>It was a pleasure meeting with you to discuss your marketing needs. As a full-service social media marketing company, we provide integrated marketing solutions to meet your business goals.  Please feel free to check out our website <a href="{{ proposal.portfolio_url }}" target="_blank">here</a>.</p>

        <p>As we discussed, we will be utilizing {{proposal.tools}}, and possibly occasional other outlets in order to produce the best results for your business. We know running a business is not easy; as you partner with JT Social, you are free to focus on the day-to-day structure of your business while we produce the marketing content and results for you.</p>

        <p>Ensuring that you are fully satisfied with our service is a top priority; personal contact with your marketing manager is encouraged.</p>

        <p> To meet and exceed the goals we discussed, you will receive {{ proposal.estimated_hours }} dedicated social hours per month. With our agreed upon contract of {{ proposal.hourly_rate | currency:'USD':true:'.0' }} per hour, the monthly package total is {{ proposal.hourly_rate * proposal.estimated_hours | currency:'USD':true:'.0' }}.</p>

        <p>Thank you so much for choosing JT Social! I look forward to our partnership.</p>
        <p>Best regards,</p>
        <p>{{ proposal.manager_name }}</p>
        <p><a href="mailto:{{ proposal.manager_email }}?subject=Proposal">{{ proposal.manager_email }}</a></p>
      </div>
    </div>
    
  </div>
</div>